<mat-toolbar>
  <mat-select #bookinput placeholder="Livro" value="Psalms" class="col70"
    (selectionChange)="selectedChapter=1;read(bookinput.value)">
    <mat-option *ngFor="let book of books" [value]="book.id">
      {{book.name}}
    </mat-option>
  </mat-select>
  <mat-select *ngIf="chapter$|async as chapters" #chapterInput placeholder="Capítulo"
    [value]="selectedChapter" class="col30"
    (selectionChange)="selectedChapter=$event.value;read(bookinput.value)">
    <mat-option *ngFor="let chapter of chapters" [value]="chapter.chapter_nr">
      {{chapter.chapter_nr}}
    </mat-option>
  </mat-select>
</mat-toolbar>
<div class="padding">
  <mat-card *ngIf="(passage$ | async)?.chapter as passage">
    <p *ngFor="let verse of passage | keyvalue">{{verse.value.verse_nr}}. {{verse.value.verse}}</p>
  </mat-card>
</div>
