<div class="body">
  <mat-toolbar color="accent">
    <mat-icon (click)="openMenu()">dehaze</mat-icon>
    <span>&nbsp;Dê um tempo</span>
  </mat-toolbar>
  <div class="mainarea">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #menu>
  <mat-nav-list role="links">
    <a mat-list-item role="link" routerLink="timeline">
      <mat-icon>list</mat-icon>&nbsp;Timeline
    </a>
    <a mat-list-item role="link" routerLink="verse">
      <mat-icon>library_books</mat-icon>&nbsp;Bíblia
    </a>
    <!-- <a mat-list-item role="link" routerLink="">
      <mat-icon>speaker_notes</mat-icon>&nbsp;Enviar Verso
    </a> -->
    <a mat-list-item role="link">
      <mat-icon>insert_photo</mat-icon>&nbsp;Fotos
    </a>
    <a mat-list-item role="link">
      <mat-icon>music_video</mat-icon>&nbsp;Músicas
    </a>
    <a *ngIf="!(service.user | async)" mat-list-item role="link" (click)="service.login()">
      <mat-icon>input</mat-icon>&nbsp;Login
    </a>
    <a *ngIf="service.user | async" mat-list-item role="link" (click)="service.logout()">
      <mat-icon>directions_run</mat-icon>&nbsp;Logout
    </a>

  </mat-nav-list>
</ng-template>
